.vscode/**
.vscode-test/**
test/**
src/**
web/**
build/**
i18n/**
images/**
node_modules/**
out/**
**/*.map
.gitignore
package-lock.json
package.nls.json
package.nls.zh-cn.json
README.zh-cn.md
tsconfig.json
tslint.json
webpack.config.js
